@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'rails_bootstrap_forms';

$white: #fff;
$dark-gray: #999;
$light-gray: #ccc;
$very-dark-gray: #666;
$pure-red: #f00;

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $dark-gray;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

footer {
  border-top: 1px solid $light-gray;
  color: $dark-gray;
  margin-top: 45px;
  padding-top: 5px;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  color: $very-dark-gray;
}

.nav-pills {
  padding-top: 20px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:focus,
.nav-pills > .active > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: $very-dark-gray;
  color: $white;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
  border: 1px solid $light-gray;
  color: $very-dark-gray;
}

.pagination > .active > a {
  background-color: $light-gray;
  color: $very-dark-gray;
}

.pagination > .active > a:focus,
.pagination > .active > a:hover {
  background-color: $light-gray;
  color: $very-dark-gray;
}

input,
textarea,
select,
.uneditable-input {
  @include box-sizing;
  border: 1px solid $light-gray;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto;
}

.error-explanation {
  color: $pure-red;

  ul {
    list-style: none;
    margin: 0 0 18px;
  }
}

.map-container {
  border-color: $white;
  border-radius: 16px;
  border-style: solid;
  border-width: 7px;
  box-shadow: 2px 2px 10px $dark-gray;
  height: 400px;
  margin-top: 25px;
}

.map {
  height: 384px;
  width: 100%;
}

.map-container .map img {
  max-width: none;
}

.map-container .map label {
  display: inline;
  width: auto;
}
