@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.3em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #999;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

.nav-tabs > li > a {
    color: #777;
}

.nav-pills {
    padding-top: 20px;
}

.nav-pills > li > a {
    color: #777;
}

.nav-pills > .active > a,
.nav-pills > .active > a:focus,
.nav-pills > .active > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #777;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
    color: #777;
    border: 1px solid #ddd;
}

.pagination > .active > a {
    color: #777;
    background-color: #eee;
}

.pagination > .active > a:focus,
.pagination > .active > a:hover {
    color: #777;
    background-color: #eee;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#submit-button {
    width: 15%;
}

#error_explanation {
    color: #f00;
    ul {
        list-style: none;
        margin: 0 0 18px 0;
    }
}

.field_with_errors {
    @extend .has-error;
}

#map-container {
    height: 400px;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #b1b1b1;
    margin-top: 25px;
    border-width: 7px;
}

#map {
    height: 384px;
    width: 100%;
}

#map-container #map img {
    max-width: none;
}

#map-container #map label {
    width: auto;
    display: inline;
}
