%ul.nav.nav-tabs
  %li.active{:role => "presentation"}
    %a#map-nav-tab{"data-toggle" => "tab", :href => "#map-tab", :role => "tab"}
      %i.glyphicon.glyphicon-map-marker.pull-left
      &nbsp; Map
  %li{:role => "presentation"}
    %a#summary-charts-nav-tab{"data-toggle" => "tab", :href => "#summary-charts-tab", :role => "tab"}
      %i.glyphicon.glyphicon-stats.pull-left
      &nbsp; Charts
