%ul.nav.nav-tabs
  %li.active{ role: 'presentation' }
    %a#map-nav-tab{ 'data-toggle' => 'tab', :href => '#map-tab', :role => 'tab' }
      %i.glyphicon.glyphicon-map-marker.pull-left
      &nbsp; Map
  %li{ role: 'presentation' }
    %a#summary-profiles-nav-tab{ 'data-toggle' => 'tab', :href => '#summary-profiles-tab', :role => 'tab' }
      %i.glyphicon.glyphicon-stats.pull-left
      &nbsp; Profiles
  %li{ role: 'presentation' }
    %a#summary-intensity-nav-tab{ 'data-toggle' => 'tab', :href => '#summary-intensity-tab', :role => 'tab' }
      %i.glyphicon.glyphicon-signal.pull-left
      &nbsp; Heart Rate Intensity
