%table.table.table-striped
  %thead
    %tr
      %th
      %th Activities
      %th Calories
      %th Distance
      %th Time
      %th Elevation Gain
      %th Average Heart Rate
  %tbody
    %tr
      %td This Week
      = render :partial => 'summary_data', locals: { activities: last_week }
    %tr
      %td This Month
      = render :partial => 'summary_data', locals: { activities: last_month }
    %tr
      %td This Year
      = render :partial => 'summary_data', locals: { activities: last_year }
    %tr
      %td Lifetime
      = render :partial => 'summary_data', locals: { activities: lifetime }
