%ul.nav.nav-tabs
  %li.active{:role => "presentation"}
    %a#activities-nav-tab{"data-toggle" => "tab", :href => "#activities-tab", :role => "tab"}
      %i.glyphicon.glyphicon-list.pull-left
      &nbsp; Activities
  %li{:role => "presentation"}
    %a#charts-nav-tab{"data-toggle" => "tab", :href => "#charts-tab", :role => "tab"}
      %i.glyphicon.glyphicon-stats.pull-left
      &nbsp; Charts
