%table.table.table-striped
  %thead
    %tr
      %th{ rowspan: 2 } Started At
      %th{ rowspan: 2 } Type
      %th{ rowspan: 2 } Trend
      %th{ colspan: 3 } Totals
      %th{ colspan: 2 } Timing
      %th{ colspan: 3 } Elevation
      %th{ colspan: 2 } Heart Rate
    %tr
      %th Distance
      %th Time
      %th Calories
      %th Average Speed
      %th Average Pace
      %th Gain
      %th Loss
      %th Max
      %th Max
      %th Average
  %tbody#activities
    = render partial: 'activity', locals: { activities: activities }

#paginator
  = paginate activities, remote: true

