%ul.nav.nav-pills
  %li.active{ role: 'presentation' }
    %a#table-tab-link{ 'data-toggle' => 'tab', :href => '#table-tab', :role => 'tab' } Activities
  %li{ role: 'presentation' }
    %a#summary-tab-link{ 'data-toggle' => 'tab', :href => '#summaries-tab', :role => 'tab' } Summary
.tab-content
  .tab-pane.active#table-tab
    = render partial: 'table', locals: { activities: activities, application_settings: application_settings }
  .tab-pane#summaries-tab
    = render partial: 'summary', locals: { lifetime: lifetime, last_year: last_year, last_month: last_month, last_week: last_week }
