.tab-content
  .tab-pane.active#activities-tab
    = render partial: 'tabs_content_activities', locals: { activities: activities, lifetime: lifetime, last_year: last_year, last_month: last_month, last_week: last_week }
  .tab-pane#charts-tab
    #chart-1
