= javascript_include_tag 'highcharts', 'chartkick'

- provide(:title, 'Analytics')

.page-header
  %h1 Analytics

.span6.offset3
  = column_chart @by_day_of_week

.span6.offset3
  = column_chart @by_month
