= javascript_include_tag "//www.google.com/jsapi", "chartkick"

- provide(:title, 'Analytics')

.page-header
  %h1 Analytics

.span6.offset3
  = column_chart @by_day_of_week, library: { title: 'Lifetime Activities by Day', vAxis: { title: 'Activities', titleTextStyle: { fontName: 'Helvetica' }}, titleTextStyle: { fontName: 'Helvetica' }}

.span6.offset3
  = column_chart @by_month, library: { title: 'Lifetime Activities by Month', vAxis: { title: 'Activities', titleTextStyle: { fontName: 'Helvetica' }}, titleTextStyle: { fontName: 'Helvetica' }}
