= javascript_include_tag 'highcharts', 'chartkick'

- provide(:title, 'Activities')

%h1 Activities

.row
  - if @activities.any?
    = render :partial => 'tabs_nav'
    = render :partial => 'tabs_content', locals: { activities: @activities, application_settings: @application_settings, lifetime: @lifetime, last_year: @last_year, last_month: @last_month, last_week: @last_week }
