%body
  %header.navbar.navbar-default.navbar-fixed-top
    .navbar-inner
      .container
        = link_to 'Second Wind', root_path, class: "brand", id: "logo"
        %nav
          %ul.nav.navbar-nav.pull-right
            %li= link_to "Activities", activities_path
